In [1]:
import pandas as pd

In [7]:
data = pd.read_csv('DATA/merged_wtr-level_alerts_precip_hum_temp_press_wind_with-NaN.csv')
water_level = pd.read_csv('DATA/df_2014_water.csv')
water_level = water_level.set_index('date')
data = data.set_index('date')
data

,belgrade_water_level_cm,belgrade_flood_alert,pancevo_water_level_cm,pancevo_flood_alert,zemun_water_level_cm,zemun_flood_alert,belgrade_precipitation_mm,belgrade_humidity_pct,belgrade_pressure_hg,belgrade_temperature_c,belgrade_windspeed_kph
date,,,,,,,,,,,
2000-01-01,461.0,0,503.0,0.0,502.0,0.0,NaN,NaN,NaN,NaN,NaN
2000-01-02,474.0,0,516.0,0.0,516.0,0.0,0.0,NaN,NaN,NaN,NaN
2000-01-03,478.0,0,520.0,0.0,520.0,0.0,0.0,NaN,NaN,NaN,NaN
2000-01-04,474.0,0,517.0,0.0,516.0,0.0,NaN,NaN,NaN,NaN,NaN
2000-01-05,464.0,0,513.0,0.0,508.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2022-12-27,358.0,0,NaN,NaN,388.0,0.0,NaN,NaN,NaN,NaN,NaN
2022-12-28,356.0,0,NaN,NaN,388.0,0.0,NaN,NaN,NaN,NaN,NaN
2022-12-29,362.0,0,NaN,NaN,396.0,0.0,NaN,NaN,NaN,NaN,NaN
2022-12-30,370.0,0,NaN,NaN,404.0,0.0,NaN,NaN,NaN,NaN,NaN
2022-12-31,374.0,0,NaN,NaN,408.0,0.0,NaN,NaN,NaN,NaN,NaN

In [5]:
type(water_level)

pandas.core.frame.DataFrame

In [9]:
test = pd.DataFrame(data['belgrade_water_level_cm'])
test

            belgrade_water_level_cm
date
2000-01-01                    461.0
2000-01-02                    474.0
2000-01-03                    478.0
2000-01-04                    474.0
2000-01-05                    464.0
...                             ...
2022-12-27                    358.0
2022-12-28                    356.0
2022-12-29                    362.0
2022-12-30                    370.0
2022-12-31                    374.0

[8401 rows x 1 columns]

In [11]:
test_pressure = data['2010-01-01':'2020-12-31']['belgrade_pressure_hg']
test_pressure

date
2010-01-01    29.26
2010-01-02    29.53
2010-01-03    30.00
2010-01-04    30.18
2010-01-05    29.88
              ...
2020-12-27    29.94
2020-12-28    29.50
2020-12-29    29.62
2020-12-30    29.74
2020-12-31    29.74
Name: belgrade_pressure_hg, Length: 4018, dtype: float64

In [17]:
test_pressure.describe()

count    4018.000000
mean       30.031304
std         0.213772
min        29.090000
25%        29.910000
50%        30.000000
75%        30.150000
max        30.830000
Name: belgrade_pressure_hg, dtype: float64